<!DOCTYPE html>
<html>
<head>
    <title>My Website</title>
</head>
<body>
    <h1>Welcome to the My Website</h1>
    <p>This is the About Us page.</p>
    <a href="/"></a>Back To Home</a>
</body>
</html>